<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>实时统计控制台</title>

  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">实时统计<span class="zerosoul"> | zerosoul.github.io</span></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div id="app">
      <div class="row">
        <div class="col-xs-3">
          <div class="well">
            <h1 class="dash-red">{{ activeUsers }} <i class="glyphicon glyphicon-user"></i></h1>
            <h3 class="text-muted">在线用户</h3>
          </div>
        </div>

        <div class="col-xs-9">
          <h2 class="sub-header">当前访问页面</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <td>页面地址</td>
                <td>在线用户</td>
              </thead>
              <tbody>
                <tr v-for="(page, count) in pages">
                  <td>{{ page }}</td>
                  <td>{{ count }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">来源</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <td>来源网址</td>
                <td>在线用户</td>
              </thead>
              <tbody>
                <tr v-for="(referringSite, count) in referrers">
                  <td>{{ referringSite }}</td>
                  <td>{{ count }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>

  <script src="//cdn.bootcss.com/vue/1.0.25/vue.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/common.js"></script>

</body>

</html>