<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实时统计测试页</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F2F2F0;
        }

        .navbar {
            background-color: #373737;
            padding: 5px;
            border-radius: 0;
        }

        .navbar a {
            color: #8C8C8C;
            font-size: 1.5em;
        }

        .zerosoul {
            color: #D0D0D0;
            font-size: 0.8em;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">实时统计<span class="zerosoul"> | zerosoul.github.io</span></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>打开下面的控制台链接：</h3>
                <h4 class="header"><a href="/dashboard" target="_blank">控制台入口(新窗口)</a></h4>
                <h3>用下面链接测试（并不会跳转，仅做测试）：</h3>
                <h4 class="header"><a href="/">主页</a></h4>
                <h4 class="header"><a href="/about">关于我</a></h4>
                <h4 class="header"><a href="/contact">联系我们</a></h4>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    var visitorData = {
        referringSite: document.referrer,
        page: location.pathname
    }
    socket.emit('visitor-data', visitorData);
    </script>

</body>

</html>